annotated-types==0.7.0
anyio==4.6.0
assemblyai==0.34.0
astral==3.2
av==12.0.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.2.1
decorator==4.4.2
faster-whisper==1.0.2
ffmpeg-python==0.2.0
filelock==3.14.0
Flask==3.0.3
flatbuffers==24.3.25
fsspec==2024.3.1
future==1.0.0
geographiclib==2.0
geopy==2.4.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
itsdangerous==2.2.0
jdcal==1.4.1
Jinja2==3.1.4
MarkupSafe==3.0.1
moviepy==1.0.3
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.17.3
packaging==24.0
pillow==10.3.0
proglog==0.1.10
protobuf==5.26.1
psutil==6.0.0
PyAudio==0.2.14
pycairo==1.26.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pyreadline3==3.4.1
pytz==2024.2
PyYAML==6.0.1
requests==2.31.0
seewav==0.1.0
setuptools==75.1.0
sniffio==1.3.1
SpeechRecognition==3.10.4
sympy==1.12
tokenizers==0.19.1
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
websockets==13.1
Werkzeug==3.0.4
